@use "../mixins/fonts";

[data-tooltip] {
  --tooltip-bg-color: var(--base-800);
  --tooltip-color: var(--base-100);

  anchor-scope: --tooltip-anhor;
  cursor: help;
  border-bottom: 1px dotted #666;

  &:hover {
    anchor-name: --tooltip-anhor;

    &::after {
      content: attr(data-tooltip);
      position: fixed;
      position-anchor: --tooltip-anhor;
      position-area: top right;
      padding: var(--s-spacing) var(--spacing);

      corner-shape: squircle;
      border-radius: var(--spacing);
      display: inline-block;

      color: var(--tooltip-color);
      background-color: var(--tooltip-bg-color);
      border: 1px solid var(--tooltip-color);

      @include fonts.small-font;
    }
  }
}
