@use "../mixins/fonts";

[data-tooltip] {
  --tooltip-bg-color: var(--base-800);
  --tooltip-color: var(--base-100);
  --tooltip-position-area: top;

  &[data-tooltip-position="top"] { --tooltip-position-area: top; }
  &[data-tooltip-position="bottom"] { --tooltip-position-area: bottom; }
  &[data-tooltip-position="left"] { --tooltip-position-area: left; }
  &[data-tooltip-position="right"] { --tooltip-position-area: right; }

  &[data-tooltip-position*="-"] {
    --tooltip-pos-start: center;
    --tooltip-pos-end: center;

    &[data-tooltip-position^="top"] { --tooltip-pos-start: top; }
    &[data-tooltip-position^="bottom"] { --tooltip-pos-start: bottom; }
    &[data-tooltip-position^="left"] { --tooltip-pos-start: left; }
    &[data-tooltip-position^="right"] { --tooltip-pos-start: right; }

    &[data-tooltip-position$="top"] { --tooltip-pos-end: top; }
    &[data-tooltip-position$="bottom"] { --tooltip-pos-end: bottom; }
    &[data-tooltip-position$="left"] { --tooltip-pos-end: left; }
    &[data-tooltip-position$="right"] { --tooltip-pos-end: right; }

    --tooltip-position-area: var(--tooltip-pos-start) var(--tooltip-pos-end);
  }

  anchor-scope: --tooltip-anhor;
  cursor: help;
  border-bottom: 1px dotted #666;

  &:hover {
    anchor-name: --tooltip-anhor;

    &::after {
      content: attr(data-tooltip);
      position: fixed;
      position-anchor: --tooltip-anhor;
      position-area: var(--tooltip-position-area);
      padding: var(--s-spacing) var(--spacing);

      corner-shape: squircle;
      border-radius: var(--spacing);
      display: inline-block;

      color: var(--tooltip-color);
      background-color: var(--tooltip-bg-color);
      border: 1px solid var(--tooltip-color);

      @include fonts.small-font;
    }
  }
}
